#container
{
    width: 960px;
    margin:32px auto;
    border:3px solid rgb(26, 78, 26);
    border-radius: 32px;
    padding: 32px;
    color:hsl(214, 78%, 95%);
    background-color: rgb(18, 72, 143);
}
#playingboard
{
    width:640px;
    height: 640px;
    display: flex;
    flex-direction: column;
    background-color: white;

}

#sketch-area
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:16px;
}
.board_row
{

    display: flex;
    flex-direction: row;


}

.selectbox
{
    padding:4px 16px;
}
.selectbox option
{
    padding:4px 16px;
}

.board_cell
{
    border:1px solid rgba(112, 112, 112, 0.3);
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;

}
.board_cell_inner
{
    box-sizing: border-box;
}